
body{
    /* goole fonts style */
    font-family: 'Poppins', sans-serif;
}

/* header  */
.full-header{
    display: flex;
    flex-direction: column;
    align-items: center

}
.header{
    display: flex;
    align-items: center;
    width: 1170px;
    height: 546px;
    background-color: #161616;
    border-radius: 30px;
    padding: 50px;
    margin-bottom: 50px;
}
.header a{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    background-color: red;
}
.header-text{
color: aliceblue;
}

.header-image img{
    width: 581px;
    height: 613px;

  display: flex;
    align-items: flex-end;
}
/* header end */

/* Middle part */
.middle-part{
    display: flex;
    flex-direction: column;
    align-items: center
}
.middle-part main{
    display: flex;
    gap: 30px;
}

/* side nav */
nav{
    height: 212px;
    width: 212px;
    background-color: #161616;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}
button{
    height: 64px;
    width: 200px;
    background-color: aliceblue;
    border-radius: 20px;
}
.red-button{
    color: white;
    background-color: red;
}

/* blog */
.blog{
    width: 984px;
    height: 1134px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}
.single-blog{
    width: 312px;
    height: 364px;
    border: 2px solid silver;
    border-radius: 10px;
}
.blog-text-part{
    padding: 20px;
}
.blog-text-part button{
    height: 32px;
    width: 100px;
}
.blog-botom{
    display:flex;
    justify-content: space-evenly;
}