
body{
    /* goole fonts style */
    font-family: 'Poppins', sans-serif;
}

/* header  */
.full-header{
    display: flex;
    justify-content: center;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    height: 40%;
    background-color: lightgreen;
    border-radius: 30px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 1;
}

/* header transition */
.header:hover {
    background-color: rgb(83, 238, 83);
    opacity: 0.9;
    transition: 0.4s;
}

/* header button */
.header a{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    background-color: gray;
    margin: 0 auto;
    font-size: 10px;
}
.header-text{
color: aliceblue;
width: 40%;
}
.header-text h1{
    font-size: 4vw;
    color: black;
}
.header-text p{
    margin-bottom: 10px;
    font-size: 10px;
    color: black;
}

.header-image img{
  width: 100%;
}
/* header end */

/* Middle part */
.middle-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.middle-part main{
    display: flex;
    gap: 30px;
}

/* side nav */
nav{
    height: 212px;
    max-width: 212px;
    margin: 0 auto;
    background-color: lightgreen;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    opacity: 1;
}

/* nav transition */
nav:hover {
    background-color: rgb(83, 238, 83);
    opacity: 0.9;
    transition: 0.4s;
}

.button{
    height: 30px;
    width: 200px;
    background-color: aliceblue;
    border-radius: 20px;
    font-size: large;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
}
.red-button{
    color: white;
    background-color: gray;
}

/* blog */
.blog{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}
.single-blog{
    width: 312px;
    height: 364px;
    border: 2px solid silver;
    border-radius: 10px;
}
.single-blog img{
    width: 100%;
}
/* upcomming match page */

.single-match {
    width: 312px;
    padding-bottom: 30px;
    border: 2px solid silver;
    border-radius: 10px;
}

.match{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 20px;
}
.match-text-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* end */
button{
    border-radius: 10px;
}
.blog-text-part{
    padding: 20px;
}
.blog-text-part button{
    height: 32px;
    width: 100px;
}
.blog-botom{
    display:flex;
    justify-content: space-evenly;
}

/* hidden Button */
.hidden-button{
    display: flex;
    justify-content: center;
    margin: 50px;

}
.hidden-button a {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    background-color: gray;
    font-size: large;
}

/* footer */

.footer{
    background-color: lightgreen;
    width: 100%;
    height: 30%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
/* footer transition */
.footer:hover {
    background-color: rgb(83, 238, 83);
    opacity: 0.9;
    transition: 0.4s;
}
.goal{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 60%;
    margin-bottom: 20px;
}
.goal h1{
  
    font-size: 2rem;
    color: black;
   
   
}
.contact{
    display: flex;
} 
.contact a{

        text-decoration: none;
        color: black;
        padding: 30px;
    }
.social-icon{
    margin-top: 30px;
}

.social-icon a{
    text-decoration: none;
    color: black;
    padding: 30px;
}


/* Resposnive media query */

/*------------
 Desktop
 ------------- */
@media only screen and (min-width: 993px) {
    .hidden-button {
            display: none;
        }
}

/*-------------
 Tablet
 ------------- */

@media only screen and (min-width:689px) and (max-width: 992px) {

.header{
    width: 100%;
}   
 .middle-part {
     display: flex;
     flex-direction: row;
     align-items: center
 }
 .middle-part main {
     display: flex;
     flex-direction: column;
     gap: 30px;
 }

 nav {
    height: 7%;
    max-width: 100%;
    gap: 1vw;
    display: flex;
    flex-direction: row;
    background-color: white;
 }
 nav a{
    text-align: center;
    justify-items: center;
 }
 .blog {
     width: 100%;
     height: 60%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
     justify-items: center;
 }
}

/*----------
 Smart Phone
 ----------- */

@media only screen and (max-width:688px) {

.hidden-button {
        display: none;
}
.header{
  display: flex;
      width: 100%;
      margin: 0,auto;
      flex-direction: column;
}
.header-text {
    height: 40%;
    width: 60%;
    margin-bottom: 10%;
    text-align: center;
}
.header-text h1 {
    font-size: 5vw;
}
.header-image img {
    width: 100%;
}
.middle-part main {
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav {
    background-color: white;
}

.blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icon {
   display: flex;
   flex-direction: column;
   align-items: center;
}

}